<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Detalles Producto</h2>
    </div>
    <div class="card-body">
      <h4 >Nombre : {{nombre}}</h4>
      <form action="" >
        <div class="form-group-lg">
          <label for="" class="col-sm-6 col-form-label ml-5">Cantidad</label>
          <div class="col-sm-6">
            <input type="number" name="nameProduc" class="form-control" placeholder = "Digite Nombre"
            [(ngModel)]="producDetail.cantidad">
          </div>
        </div>
          <button  (click)="Guardar()" class="btn btn-primary text-right">Guardar</button>
      </form>
    </div>
  </div>
</div>
