<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Detalles Producto</h2>
    </div>
    <div class="card-body">
      <h4 >Nombre </h4>
      <form action="" >
        <div class="form-group-lg">
          <label for="" class="col-sm-6 col-form-label ml-5">Cantidad</label>
          <div class="col-sm-6">
            <input type="number" name="cantidad" class="form-control" placeholder = "Digite Nombre"
            [(ngModel)]="producDetail.cantidad" disabled>
          </div>
        </div>
        <div class="form-group-lg">
          <label for="" class="col-sm-6 col-form-label ml-5">Valor Total</label>
          <div class="col-sm-6">
            <input type="number" name="valortotal" class="form-control" placeholder = "Digite Nombre"
            [(ngModel)]="producDetail.valortotal" disabled>
          </div>
        </div>
        <div class="form-group-lg">
          <label for="" class="col-sm-6 col-form-label ml-5">Valor IVA</label>
          <div class="col-sm-6">
            <input type="number" name="valortotal" class="form-control" placeholder = "Digite Nombre"
            [(ngModel)]="producDetail.valoriva" disabled>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
